@charset "utf-8";
.clearF {
  z-zoom: 1;
  /*为兼容IE6,IE7*/
}
.clearF:after {
  content: ".";
  visibility: hidden;
  height: 0;
  overflow: hidden;
  clear: both;
}
.marA {
  margin: 0 auto;
}
.common-fixNav {
  position: absolute;
  height: 1.25rem;
  line-height: 1.25rem;
  z-index: 33;
  background: #FE5400;
  top: 0;
  left: 0;
  right: 0;
}
.common-fixNav > .header {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 0.15625rem;
  transform: translate(0, -50%);
  width: 1.63rem;
}
.common-fixNav > .article {
  margin: 0 auto;
  width: 6.09375rem;
  height: 100%;
}
.common-fixNav > .article > .formdiv {
  margin-top: 0.1875rem;
  line-height: 0.78125rem;
  background: #B52600;
  color: white;
  text-align: center;
}
.common-fixNav > .footer {
  position: absolute;
  right: 10px;
  top: 0;
}
.common-fixNav > .footer > a {
  font-size: 0.5rem;
  color: white;
}
.common-fixFooterNav {
  position: fixed;
  z-index: 33;
  bottom: 0;
  width: 100%;
  height: 1.25rem;
  background: white;
}
.common-fixFooterNav > main {
  display: flex;
}
.common-fixFooterNav > main > li {
  flex: 1 1 2rem;
  text-align: center;
}
.common-fixFooterNav > main > li > a {
  display: block;
}
.common-fixFooterNav > main > li > a > img {
  width: 80%;
}
.common-fixNavOther {
  position: fixed;
  height: 1.40625rem;
  width: 100%;
  border-bottom: 1px solid #666666;
}
.common-fixNavOther > .header {
  position: absolute;
  height: 80%;
  top: 50%;
  left: 0.15625rem;
  transform: translate(0, -50%);
  width: 0.65625rem;
  border: 10px;
  background: url("../image/jd-sprites.png") no-repeat -0.825rem 0.125rem;
  background-size: 7.8125rem;
}
.common-fixNavOther > .article {
  margin: 0 auto;
  width: 7.1875rem;
  height: 1.03125rem;
  margin-top: 0.15625rem;
}
.common-fixNavOther > .article > form {
  width: 100%;
  height: 100%;
  position: relative;
}
.common-fixNavOther > .article > form input {
  border: 1px solid #666666;
  height: 100%;
  width: 100%;
  border-radius: 0.125rem;
  vertical-align: top;
  font-size: 0.34375rem;
  padding-left: 0.46875rem;
}
.common-fixNavOther .footer {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  width: 0.90625rem;
}
.common-fixNavOther .footer > a {
  height: 100%;
  display: block;
  background: url("../image/jd-sprites.png") no-repeat -2.325rem 0.325rem;
  background-size: 7.8125rem;
}
div#wrap {
  position: absolute;
  overflow: scroll;
  top: 1.25rem;
  bottom: 1.25rem;
  left: 0;
  right: 0;
}
div#wrap .home-topNWrap > .swiper-pagination .swiper-pagination-bullet-active {
  background: white;
}
div#wrap .home-topNWrap > .swiper-pagination .swiper-pagination-bullet {
  background: white;
}
div#wrap .home-mainNavWrap {
  color: black;
  background: white;
}
div#wrap .home-mainNavWrap .home-mainNav {
  display: flex;
  justify-content: space-around;
  padding: 0.34375rem 0.35875rem 0 0;
  border-bottom: 1px solid #666;
  height: 4rem;
  flex-wrap: wrap;
}
div#wrap .home-mainNavWrap .home-mainNav .homeMainNav-items {
  flex: 0 0.5 1.625rem;
  text-align: center;
}
div#wrap .home-mainNavWrap .home-mainNav .homeMainNav-items > img {
  width: 100%;
  border-radius: 0.21875rem;
}
div#wrap .home-mainNavWrap .home-mainNavTitle {
  height: 0.96875rem;
  padding-left: 11px;
  font-size: 0.4375rem;
  line-height: 0.96875rem;
  background: #fff;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > header,
div#wrap .home-mainNavWrap .home-mainNavTitle aside,
div#wrap .home-mainNavWrap .home-mainNavTitle main {
  float: left;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > header.mainNavTitleH {
  font-weight: bold;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > header.mainNavTitleH > mark {
  background: red;
  padding: 0 4px;
  font-size: 0.4375rem;
  color: white;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > header.mainNavTitleH > span {
  color: #ccc;
  font-weight: bold;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > main.mainNavTitleM {
  width: 5.78125rem;
  padding: 0 3px;
  border-radius: 6px;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > main.mainNavTitleM > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: none;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > main.mainNavTitleM > p:nth-child(1) {
  display: block;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > main.mainNavTitleM > p > span {
  color: red;
}
div#wrap .home-mainNavWrap .home-mainNavTitle > aside.mainNavTitleA > span {
  color: #ccc;
}
div#wrap .home-mainContent {
  font-size: 0.4375rem;
}
div#wrap .home-mainContent > section.home-mainContentHW > main.home-mainContentMenu {
  overflow: hidden;
  display: flex;
  width: 10rem;
}
div#wrap .home-mainContent > section.home-mainContentHW > main.home-mainContentMenu section.MenuLeft {
  width: 37.81%;
}
div#wrap .home-mainContent > section.home-mainContentHW > main.home-mainContentMenu section.MenuRight {
  width: 62%;
  display: flex;
  flex-wrap: wrap;
}
div#wrap .home-mainContent > section.home-mainContentHW > main.home-mainContentMenu section.MenuRight > .imgs {
  flex: 1 1 2.246875rem;
}
div#wrap .home-mainContent > section.home-mainContentHW > main.home-mainContentMenu section.MenuRight > .imgs:nth-child(1),
div#wrap .home-mainContent > section.home-mainContentHW > main.home-mainContentMenu section.MenuRight > .imgs:nth-child(2) {
  border-bottom: 1px solid #666666;
}
div#wrap .home-mainContent > section.home-mainContentHW > main.home-mainContentMenu section.MenuRight > .imgs:nth-child(2n-1) {
  border-right: 1px solid #666666;
}
div#wrap .home-mainContent > section.homeContentItems {
  margin-top: 0.15625rem;
  background: white;
}
div#wrap .home-mainContent > section.homeContentItems > header.itemsH,
div#wrap .home-mainContent > section.homeContentItems header.itemsHBiguang {
  height: 1.03125rem;
  text-align: center;
}
div#wrap .home-mainContent > section.homeContentItems > main.itemsM {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
div#wrap .home-mainContent > section.homeContentItems > main.itemsM > figure {
  flex: 1 1 2.03125rem;
  border-right: 1px solid #666;
}
div#wrap .home-mainContent > section.homeContentItems > main.itemsM > figure > a {
  display: block;
}
div#wrap .home-mainContent > section.homeContentItems > main.itemsM > figure:nth-child(4n+1) {
  flex: 1 1 3.8125rem;
}
div#wrap .home-mainContent > section.homeContentItems > main.itemsM > figure:nth-child(4n) {
  border-right: 1px solid transparent;
}
div#wrap .home-mainContent > section.homeContentItems > main.itemsM > figure:nth-child(1),
div#wrap .home-mainContent > section.homeContentItems > main.itemsM > figure:nth-child(2),
div#wrap .home-mainContent > section.homeContentItems > main.itemsM > figure:nth-child(3),
div#wrap .home-mainContent > section.homeContentItems > main.itemsM > figure:nth-child(4) {
  border-bottom: 1px solid #666;
}
div#wrap .home-mainContent > section.homeContentItems > main.biGuang-itemsM {
  display: flex;
  flex-wrap: wrap;
}
div#wrap .home-mainContent > section.homeContentItems > main.biGuang-itemsM > figure {
  flex: 1 1 2.46875rem;
}
div#wrap .home-mainContent > section.homeContentItems > main.biGuang-itemsM > figure:nth-child(1),
div#wrap .home-mainContent > section.homeContentItems > main.biGuang-itemsM > figure:nth-child(2) {
  flex: 1 1 4.96875rem;
}
div#wrap .home-mainContent > section.homeContentItems > footer.specal {
  overflow: hidden;
}
div#wrap .home-mainContent > section.homeContentItems > footer.specal > a {
  display: block;
}
div#wrap .home-mainContent > section.homeContentItems > footer.specal > a:nth-child(1) {
  height: 1.076562rem;
}
div#wrap .home-mainContent > section.homeContentItems > footer.specal > a:nth-child(2) {
  height: 2rem;
}
div#wrap .home-mainContent > section.homeContentItems > footer.specal > a > figure {
  height: 100%;
  float: left;
}
div#wrap .home-mainContent > section.homeContentItems > footer.specal > a > figure > img {
  height: 100%;
}
div#wrap .home-mainContent > section.homeContentItems > footer.specal > a > figcaption {
  float: right;
}
div#wrap .home-mainContent > section.lazyWrap {
  background: white;
  margin-top: 0.15625rem;
}
div#wrap .home-mainContent > section.lazyWrap > header.lazyWrapH {
  height: 0.843281rem;
  line-height: 0.843281rem;
  text-align: center;
}
div#wrap .home-mainContent > section.lazyWrap > header.lazyWrapH > span {
  color: red;
  float: right;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-sing {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #666;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-sing > li {
  flex: 1 1;
  height: 2.9375rem;
  width: 2.46875rem;
  margin-left: 0.078125rem;
  border-right: 1px solid #666;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-sing > li:last-child {
  border-right: 1px solid transparent;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-sing > li > a {
  display: block;
  text-align: center;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-sing > li > a > span {
  display: block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.375rem;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-sing > li > a > img {
  width: 70%;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-double {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #666;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-double > li {
  flex: 1 1;
  width: 4.96875rem;
  padding-left: 0.078125rem;
  border-right: 1px solid #666;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-double > li:last-child {
  border-right: 1px solid transparent;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-double > li > a {
  flex: 1 1 1.78125rem;
  text-align: center;
  background: white;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-double > li > a:nth-child(1) {
  flex: 1 1;
  width: 100%;
}
div#wrap .home-mainContent > section.lazyWrap > ul.lazyWrapContent-double > li > a > span {
  display: block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.375rem;
}
div#wrap footer.home-footer {
  background: #4E525E;
}
div#wrap footer.home-footer > ul.home-footer-items {
  display: flex;
  height: 1.65625rem;
  align-items: center;
}
div#wrap footer.home-footer > ul.home-footer-items li {
  flex: 1 1 0.53125rem;
  margin: 0 4px;
  text-align: center;
}
div#wrap footer.home-footer > ul.home-footer-items li > a {
  display: block;
  color: white;
  font-size: 0.3125rem;
  border-radius: 0.15625rem;
  height: 1rem;
  line-height: 1rem;
  width: 1.875rem;
  background: #555965;
  border: 2px solid #42454d;
}
div#wrap footer.home-footer > details.copyright {
  margin-left: 3.125rem;
  color: white;
  height: 1.375rem;
  line-height: 1.375rem;
}
